<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<h1>Post Page</h1>
<form action="/posts/create" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Title Your post"><br>
    <br>

    <label for="body">What's going on?</label>
    <textarea id="body" name="body" placeholder="Type your post here: " rows="4" cols="50"></textarea><br>
    <br>

    <input type="submit">
</form>
</body>
</html>