<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partial.html :: head ('Roll Dice')"></head>
<body>
<h1>Roll The Dice!</h1>
<p>Enter your guess!</p>
<div th:if="${selections}">
    <p>
        You selected:<span th:text="${selections}"></span>
    </p>
    </p> The number was: <span th:each="number : ${number}"></span>
</div>
<ul>
   <li><a href="roll-dice/1">1</a></li>
   <li><a href="roll-dice/2">2</a></li>
    <li><a href="roll-dice/3">3</a></li>
    <li><a href="roll-dice/4">4</a></li>
    <li><a href="roll-dice/5">5</a></li>
    <li><a href="roll-dice/6">6</a></li>
</ul>
</body>
</html>